<header class="page-header">
  <nav class="breadcrumbs" aria-label="breadcrumb">
      <a href="{{ get_url(path='', lang=lang) }}">Home</a>
  </nav>
  <h1>{{ section.title }}
    {% for feed_filename in config.feed_filenames %}
    <a href="{{ get_url(path=feed_filename, trailingslash=false) | safe }}" title="RSS" aria-label="RSS">
      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" height="23">
        <path d="M4 11a9 9 0 0 1 9 9"></path>
        <path d="M4 4a16 16 0 0 1 16 16"></path>
        <circle cx="5" cy="19" r="1"></circle>
      </svg>
    </a>
    {% endfor %}
</h1>
</header>
{% if paginator %}
{% for page in paginator.pages %}
{% set card_page = page %}
{% set card_reveal = false %}
{% include "partials/common/post_card.html" %}
{% endfor %}
{% else %}
<!-- no paginator_by in _index.mnd -->
no paginator
{% endif %}


{% if paginator %}
<footer class="page-footer">
<nav class="pagination">
  {% if paginator.previous %}
  <a class="previous" href="{{ paginator.previous | safe }}">« Previous</a>
  {% endif %}
  {% if paginator.next %}
  <a class="next" href="{{ paginator.next | safe }}">Next »</a>
  {% endif %}
</nav>
</footer>
{% endif %}
