<article class="taxonomy-list-entry">
	
<header class="taxonomy-header">
	<h1>{{ title }}</h1>
</header>

{% if config.extra.cela.show_taxonomies_description %}
<div class="taxonomy-desc">
{% set form_taxonomy = (taxonomy.name | replace(from="_",to=" ")) %}
{% set default_desc = "Here is a list of " ~ form_taxonomy ~ " in this site." %}
{% if taxonomy.name == "tags" and config.translations %}
	{% set default_desc = trans(key='taxonomy_tags_desc', lang=lang) %}
{% elif taxonomy.name == "categories" and config.translations %}
	{% set default_desc = trans(key='taxonomy_categories_desc', lang=lang) %}
{% endif %}
{% set description = default_desc %}

{# FIXME: Keep this set_global + single output form for comparison with the old in-loop <p> output behavior. #}
{% for kv in config.extra.cela.taxonomies_desc %}
{% if kv.name == taxonomy.name %}
	{% set_global description = kv.desc %}
{% endif %}

{% endfor %}
<p>{{ description }}</p>
</div>
{% endif %}
</article>
