{% extends "index.html" %}
{% block main %}
{% if not title %}
  {% set title = "Categories" %}
  {% if config.translations %}
    {% set title = trans(key='nav_categories', lang=lang) %}
  {% endif %}
	{% set css_class = "terms-" ~ taxonomy.name %}
{% endif %}

{% include "partials/taxonomy/list_header.html" %}

<ul class="terms-tags {{ css_class }}">
    {% for term in terms %}
    <li>
        <a href="{{ term.permalink }}">{{ term.name }} <sup><strong><sup>{{ term.page_count }}</sup></strong></sup> </a>
    </li>
    {% endfor %}
</ul>
{% endblock %}
