<script>document.documentElement.classList.add("js");</script>
<script>
  (function () {
    var scheme;
    var darkSchemes = ["catppuccin-macchiato", "rose-pine", "nord"];
    {% if config.extra.cela.color.remember_choice -%}
    scheme = localStorage.getItem("pref-scheme");
    {% endif -%}
    if (!scheme) {
      {% if config.extra.cela.color.default_theme == "dark" -%}
      scheme = "catppuccin-macchiato";
      {% elif config.extra.cela.color.default_theme == "light" -%}
      scheme = "catppuccin-latte";
      {% else -%}
      scheme = window.matchMedia("(prefers-color-scheme: dark)").matches ? "catppuccin-macchiato" : "catppuccin-latte";
      {% endif -%}
    }
    document.documentElement.setAttribute("data-scheme", scheme);
    if (darkSchemes.indexOf(scheme) !== -1) {
      document.documentElement.classList.add("dark");
      document.body.classList.add("dark");
    }
    {% if config.extra.cela.color.remember_choice -%}
    localStorage.setItem("pref-scheme", scheme);
    {% endif -%}
  })();
</script>
